.fullCont {
  background-color: transparent;
  min-height: calc(100vh - 180px);
}

.contenedor {
  background-color: rgba(0, 229, 255, 0.522);
  width: 700px;
  height: 450px;
  margin-left: 350px;
  margin-top: 150px;
  border-radius: 20px;
}
.contenedor1 {
  background-color: black;
  color: white;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 70px;
  margin-top: 5px;
}
.contenedor .contenedor1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  justify-content: space-around;
  border-radius: 20px;
}
.contenedor2 {
  background-color: transparent;
  width: 200px;
  height: 250px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center center;
  align-items: center center;
  margin-top: 40px;
}

.contenedor3 {
  background-color: aqua;
  height: 50px;
  width: 700px;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 39px;
  margin-bottom: 40px;
}
.contenedor .contenedor3 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  justify-content: space-around;
  border-radius: 20px;
}
.img {
  width: 220px;
  height: 250px;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
  margin-top: 250px;
}
