/* .boton:hover {
  background-color: #fff;
} */
.contenedor {
  background-color: rgba(0, 229, 255, 0.391);

  border: 2px solid black;
  display: inline-flex;
  position: relative;
  justify-content: center;
  margin: 10px;
  width: 200px;
  height: 250px;
  margin-bottom: 50px;
  padding-left: 0;
  border-radius: 10px;
}
.contenedor:hover {
  background-color: rgba(0, 229, 255, 0.714);
}
.contenedor1 {
  border: 2px solid black;

  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  width: 200px;
  margin-top: 0;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.537);
}
.contenedor1:hover {
  background-color: rgba(255, 255, 255, 0.711);
}

.img {
  height: 100px;
  width: 100px;
  margin-top: 50px;
  cursor: pointer;
}
.img:hover {
  transform: scale(1.1);
  transition: 0.5s;
}
h3 {
  color: #fff;
  font-size: 20px;
  font-family: cursive;
  text-decoration: none;
}
.link {
  text-decoration: none;
}
.link {
  font-family: "Chiller";
  color: #000;
}
