.contenedor {
  background-color: rgba(255, 255, 255, 0.891);

  box-shadow: 10px;
  display: inline-flex;
  position: relative;
  justify-content: center;
  margin: 10px;
  width: 240px;
  height: 250px;
  margin-bottom: 50px;
  padding-left: 0;
  border-radius: 15px;
}
.contenedor:hover {
  background-color: rgba(0, 255, 255, 0.857);
  box-shadow: 0 0 10px rgba(0, 229, 255, 0.606),
    0 0 40px rgba(0, 229, 255, 0.577), 0 0 80px rgba(0, 229, 255, 0.596);
}
.contenedor1 {
  background-color: transparent;
  width: 200px;
  margin-top: -65px;
  align-items: center;
  justify-content: center;
}

.img {
  height: 150px;
  width: 150px;
  margin-top: 20px;
  cursor: pointer;
}
.img:hover {
  transform: scale(1.1);
  transition: 0.5s;
}
h3 {
  color: #000;
  font-size: 18px;
  margin: 10px;
  font-family: cursive;
  text-decoration: none;
  text-transform: uppercase;
}
h5 {
  color: #fff;
  font-size: 18px;
  margin: 5px;
  font-family: cursive;
  text-decoration: none;
}
.tipos {
  border: 2px solid black;
  display: inline;
  justify-content: center;
  align-items: center;
  width: 60%;
  padding-left: 10%;
  padding-right: 10%;
  background: black;
}
.contenedor .tipos {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;

  border-radius: 20px;
}
.link {
  text-decoration: none;
}
.link {
  font-family: "Chiller";
  color: #000;
}
@media screen and (max-width: 500px) {
  .contenedor {
    width: 40%;
    height: auto;
  }
  .img {
    width: 50%;
    height: 45%;
  }
  .tipos {
    width: 20%;
  }
  h5 {
    padding-left: 30px;
    padding-right: 30px;
    font-size: small;
  }
  h3 {
    font-size: small;
  }
  .contenedor1 {
    width: 100%;
    height: auto;
    margin-top: -35px;
  }
}
