.cont {
  background-color: rgba(0, 255, 255, 0.343);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 40px;
  width: 90%;
  height: auto;
  margin-bottom: 2%;
}
p {
  color: white;
  font-size: larger;
  font-family: cursive;
  text-transform: none;
  margin: 1px;
  letter-spacing: 2px;
}
.link {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 15px 30px;
  color: #fff;
  background-color: rgba(0, 229, 255, 0.248);
  letter-spacing: 2px;
  font-size: 16px;
  text-decoration: none;
  overflow: hidden;
  transition: 0.2s;
  font-family: cursive;
  border: none;
  cursor: pointer;
  margin: 1em;
  border-radius: 10px;
}
.link:hover {
  background: rgba(0, 229, 255, 0.745);
  box-shadow: 0 0 10px rgba(0, 229, 255, 0.543),
    0 0 40px rgba(0, 229, 255, 0.449), 0 0 80px rgba(0, 229, 255, 0.411);
  transition-delay: 0.25s;
}
.divimg {
  width: 400px;
  height: 200px;
  border-radius: 10px;
  margin-top: 0px;
}
.img {
  width: 400px;
  height: 200px;
  border-radius: 10px;
  margin-top: -2px;
}
.contlink {
  margin-top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

h2 {
  color: azure;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 220px;
}
.promo {
  width: 40px;
  height: 40px;
}
@media screen and (max-width: 1300px) {
  .cont {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 2%;
    margin-top: 2%;
  }
  p {
    background-color: transparent;
    font-size: 80%;
    letter-spacing: 1px;
    width: 70%;
  }
  .contlink {
    background-color: transparent;
    width: 100%;
    height: 10%;
    margin-top: -1%;
  }
}
@media screen and (max-width: 450px) {
  .cont {
    width: 80%;
    height: auto;
  }
  p {
    width: 60%;
    text-align: center;
    letter-spacing: normal;
  }

  .divimg {
    width: 35%;
    background-image: url("https://th.bing.com/th/id/R.954b30f0a56e07a456f56306da9306f9?rik=NcbRSHqgfdFxeA&pid=ImgRaw&r=0");
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-left: 33%;
    border-radius: 20px;
  }
  .img {
    display: none;
  }
  .contlink {
    background-color: transparent;
    width: 100%;
    height: auto;
  }
  h2 {
    font-size: medium;
    margin: 0 auto;
  }
  .promo {
    width: 15%;
  }
  .link {
    width: 60%;
    justify-content: center;
  }
}
