.select {
  background-color: rgba(253, 253, 253, 0.503);
  width: 50%;
  height: 40px;
  border-radius: 5px;
  display: inline;
  margin: 1em;
  color: aliceblue;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serifve;
  border-radius: 10px;
}

.select:hover {
  background-color: rgba(0, 229, 255, 0.714);
}
.allCont {
  background-color: transparent;
  margin-top: 10px;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 3%;
}
.option {
  background-color: rgba(0, 229, 255, 0.714);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
}
@media screen and (max-width: 450px) {
  .allCont {
    background-color: transparent;
    width: 100%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 5%;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 600px) {
  .allCont {
    background-color: transparent;
    width: 100%;
    margin-top: 23%;
    margin: 0 auto;
  }
}
