h1 {
  color: aliceblue;
  font-family: cursive;
  font-size: 50px;
}
h1:hover {
  text-shadow: 0 0 10px rgba(0, 229, 255, 0.845),
    0 0 40px rgba(0, 229, 255, 0.736), 0 0 80px rgba(0, 229, 255, 0.694);
}
.select {
  background-color: rgba(0, 229, 255, 0.248);
  width: 150px;
  height: 40px;
  border-radius: 5px;
  display: inline;
  margin: 1em;
  color: aliceblue;
  font-size: 15px;
}
.reset {
  background-color: rgba(0, 229, 255, 0.248);
  width: 100px;
  height: 40px;
  border-radius: 5px;
  display: inline;
  margin: 1em;
  color: aliceblue;
  font-size: 15px;
}
.reset:hover {
  background-color: rgba(0, 229, 255, 0.714);
}
.select:hover {
  background-color: rgba(0, 229, 255, 0.714);
}
