.contenedor {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 700px;
  margin-left: 400px;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}
.input {
  color: #fff;
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 0 80px;
  font-size: 15px;
  font-family: cursive;
  background-color: transparent;
  height: 50px;
  /* left: 270px; */
}
::placeholder {
  color: white;
}
.input:hover {
  background: rgba(0, 229, 255, 0.248);
  box-shadow: 0 0 10px rgba(0, 229, 255, 0.248),
    0 0 40px rgba(0, 229, 255, 0.248), 0 0 80px rgba(0, 229, 255, 0.248);
}
.boton {
  display: inline;
  padding: 15px 30px;
  color: #fff;
  background-color: rgba(0, 229, 255, 0.248);
  letter-spacing: 2px;
  font-size: 16px;
  text-decoration: none;
  overflow: hidden;
  transition: 0.2s;
  font-family: cursive;
  border: none;
  cursor: pointer;
  margin: 0.4em;
}
.boton:hover {
  background: rgba(0, 229, 255, 0.248);
  box-shadow: 0 0 10px rgba(0, 229, 255, 0.543),
    0 0 40px rgba(0, 229, 255, 0.449), 0 0 80px rgba(0, 229, 255, 0.411);
  transition-delay: 0.25s;
}
