.foot {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.next {
  background-color: rgba(0, 229, 255, 0.248);
  width: 100px;
  height: 40px;

  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin: 1px;
  color: aliceblue;
  font-size: 18px;
  font-size: 20px;
  font-family: cursive;
}
.next:hover {
  background-color: rgba(0, 229, 255, 0.714);
}
.next:disabled {
  background-color: rgba(0, 229, 255, 0.411);
  color: rgba(255, 255, 255, 0.5);
  cursor: not-allowed;
}
p {
  color: white;
  text-transform: uppercase;
  font-family: cursive;
  font-size: 20px;
}
