.foot {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.next {
  background-color: rgba(0, 229, 255, 0.248);
  width: 20%;
  height: 40px;

  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin: 1px;
  color: aliceblue;
  font-size: 18px;
  font-size: 20px;
  font-family: cursive;
}
.next:hover {
  background-color: rgba(0, 229, 255, 0.714);
}
.next:disabled {
  background-color: rgba(0, 229, 255, 0.411);
  color: rgba(255, 255, 255, 0.5);
  cursor: not-allowed;
}
p {
  color: white;
  text-transform: uppercase;
  font-family: cursive;
  font-size: 20px;
}
@media screen and (max-width: 450px) {
  .foot {
    background-color: transparent;
    width: 100%;
    height: auto;
    margin-left: 0%;
  }
  .next {
    font-size: small;
    width: 20%;
    height: auto;
  }
  p {
    width: 20%;
    font-size: medium;
  }
}
