.contenedor {
  background-color: transparent;
  width: 100%;
  margin: 0 auto;
  font-family: "City Contrasts";
  display: inline-flexbox;
}
.contenedor::-webkit-scrollbar {
  background-color: transparent;
}
.all {
  background-color: rgba(0, 229, 255, 0.248);
  width: 100px;
  height: 40px;
  border-radius: 5px;
  display: inline;
  margin: 1em;
  color: aliceblue;
  font-size: 15px;
}
.contenedor .all {
  width: 50%;
  height: auto;
  display: inline-flexbox;
  flex-direction: row;
  position: relative;
  justify-content: center;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
}
.all:hover {
  background-color: rgba(0, 229, 255, 0.714);
}
.contenedorBoton {
  background-color: transparent;
}

.img {
  width: 220px;
  height: 250px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 120px;
  margin-bottom: 120px;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .contenedor {
    margin: 0 auto;
    width: 90%;
  }
}
@media screen and (max-width: 450px) {
  .contenedor {
    background-color: transparent;
    width: 100%;
    margin: 0 auto;
  }
}
