.contenedor {
  background-color: transparent;
  margin: 0.25em;
  font-family: "City Contrasts";
  display: inline-flexbox;
}
.contenedor::-webkit-scrollbar {
  background-color: transparent;
}
.all {
  background-color: rgba(0, 229, 255, 0.248);
  width: 100px;
  height: 40px;
  border-radius: 5px;
  display: inline;
  margin: 1em;
  color: aliceblue;
  font-size: 15px;
}
.contenedor .all {
  display: inline-flexbox;
  flex-direction: row;
  position: relative;
  justify-content: center;
  align-items: center;
  font-family: cursive;
  font-size: 15px;
}
.all:hover {
  background-color: rgba(0, 229, 255, 0.714);
}
.contenedorBoton {
  background-color: transparent;
}

.img {
  width: 220px;
  height: 250px;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
  margin-top: 250px;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
