.contenedor {
  background-color: rgba(0, 255, 255, 0.225);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 50%;
  margin: 0 auto;
  margin-top: 10%;
}
.boton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  width: 100px;
  height: 130px;
  filter: drop-shadow(3px 3px 3px rgba(76, 76, 76, 0.5));
  cursor: pointer;
  transition-property: width heigth;
  transition-duration: 0.5s;
}
.boton:hover {
  width: 120px;
  height: 150px;
}

.imgcont {
  background-color: transparent;
  display: inline-flex;

  width: 80%;
  height: auto;
  margin: 0;

  justify-content: center;
}

.image {
  filter: drop-shadow(3px 3px 3px rgba(76, 76, 76, 0.5));
  width: 40%;
  height: 20%;
  margin-top: 0 auto;
  transition-property: width, heigth;
  transition-duration: 1s;
  border-radius: 20px;
}

h2 {
  text-transform: uppercase;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.logo {
  display: none;
}

.form {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 200px;
}
.contform {
  background-color: rgba(255, 255, 255, 0.628);

  width: 300px;
  height: auto;

  margin: 0 auto;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.botonL {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: rgba(253, 253, 253, 0.503);
  letter-spacing: 2px;
  font-size: 16px;
  text-decoration: none;
  overflow: hidden;
  transition: 0.2s;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: none;
  cursor: pointer;
  margin: 0.1em;
  margin-top: 15px;
  border-radius: 10px;
  padding: 10px;
}
.botonL:hover {
  background: rgba(0, 255, 255, 0.651);
  box-shadow: 0 0 10px rgba(0, 229, 255, 0.338),
    0 0 40px rgba(0, 229, 255, 0.304), 0 0 80px rgba(0, 229, 255, 0.233);
  transition-delay: 0.25s;
}

.input::placeholder {
  color: white;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.input {
  position: relative;

  font-size: 16px;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  background: linear-gradient(21deg, #10abff9b, #1beabd9b);

  padding: 10px;

  display: inline-block;

  border-radius: 9999em;
  outline: none;
  border: none;
}
@media screen and (max-width: 1300px) {
  .contenedor {
    width: 50%;
    height: 50%;
    margin: 0 auto;
    margin-top: 15%;
  }
  .contform {
    width: 50%;
    height: auto;
  }
}
@media screen and (max-width: 960px) {
  .contenedor {
    width: 80%;
    height: auto;
    margin: 0 auto;
    margin-top: 10%;
  }
  .contform {
    width: 100%;
    margin: 0 auto;
    height: auto;
  }
  .form {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .contenedor {
    width: 90%;
    margin: 0 auto;
    margin-top: 10%;
    height: auto;
    margin-top: 15%;
  }
  .contform {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
  .image {
    width: 50%;
    height: auto;
  }
  .imgcont {
    width: 80%;
    height: 20%;
  }
}
@media screen and (max-width: 450px) {
  .image {
    display: none;
  }
  .imgcont {
    display: none;
  }
  .contenedor {
    width: 100%;
    height: auto;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 20%;
  }
  .logo {
    display: none;
    display: flex;
    width: 90%;
    height: auto;
    margin: 0 auto;
  }
  .contform {
    width: 90%;
    flex-direction: column;
    margin: 0 auto;
  }
  .form {
    width: 100%;
  }
  .const {
    background-color: transparent;
    width: 100%;
  }
  .boton {
    margin-left: 20%;
  }
  .const {
    background-color: transparent;
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
  .boton {
    margin: 0 auto;
  }
}
