.contenedor {
  background-color: rgba(0, 255, 255, 0.225);
  display: inline-flex;
  height: 88vh;
  width: 78vw;
  margin: 0 auto;
  margin-top: 30px;
}
.boton {
  margin-top: 110px;
  width: 100px;
  height: 130px;
  filter: drop-shadow(3px 3px 3px rgba(76, 76, 76, 0.5));
  cursor: pointer;
  transition-property: width heigth;
  transition-duration: 0.5s;
}
.boton:hover {
  width: 120px;
  height: 150px;
}

.imgcont {
  background-color: transparent;
  display: inline-flex;

  width: 700px;
  height: 400px;
  margin: 0;
  margin-top: 120px;

  justify-content: center;
}

.imgcont .image {
  filter: drop-shadow(3px 3px 3px rgba(76, 76, 76, 0.5));
  width: 500px;
  height: 300px;
  margin-top: 50px;
  transition-property: width, heigth;
  transition-duration: 1s;
}

h2 {
  text-transform: uppercase;
}
.logo {
  width: 400px;
  height: 280px;
  margin-top: 50px;
  transition-property: width, heigth;
  transition-duration: 1s;
  cursor: pointer;
}
.const {
  background-color: transparent;
  transition-property: width, heigth;
  transition-duration: 1s;
}
.const .logo:hover {
  width: 410px;
}
.form {
  background-color: rgba(240, 248, 255, 0.597);
}
